@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);

}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.display-flex{
    display: flex;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    ;
}

.nav-link{
    list-style: none;
    text-decoration: none;
    color: #424242;
    margin-right: 30px;
    font    
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    width: 100%;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.teams{
    align-items: center;

}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
#Quick-list{
    color: #727272;
    font-weight: 500;

}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.color-orange{
    color: #FF900E;
}

.feature-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
}
.fst-h3{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
}
.p-text-color{
    color: #727272;
    font-size: 1rem;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
}

.fact-card{
    border: 1px solid #FF900E;
     width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #424242;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
    align-items: center;
}
.sponsor-companies img{
   filter: grayscale(100%);
   
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card, .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;

}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect img{
    width: 100%;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.features{
    display: flex;
    gap: 146px;
}

footer{
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-top: 130px;
    width: 1440px;
    height: 100px;
    margin: 130px auto 216px  auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .p-text-color{
    text-align: center;
    width: 100%;
    align-items: center;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-link, .teams, .features{
        flex-direction: column;
    }
    .team-img-container, .facts-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container, {
        justify-items: center;
        /* margin: 0 auto; */
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 25px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    footer{
        width: 90%;
        margin: 50px auto;
        height: auto;
        padding: 20px;
    }
}


/* midiam level devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
    .sponsor-companies, .fact-card{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    footer {
        width: 95%;
        margin-top: 30px;
        font-size: 14px; 
    }
}

